#root {
    padding: 5px;
}
thead > tr > th:first-child, tbody > tr > td:first-child  {
    width: 20%;
}

thead > tr > th, tbody > tr > td   {
    width: 40%;
}

form {
    margin-bottom: 20px;
}

.table {
    margin: 5px 0;
}
